@{
    ViewData["Title"] = "Error While Deleting Item";
}
<h1>@ViewData["Title"]</h1>

<p>There was an error while deleting that item, it seemed like you
    might have tried to delete an item that doesn't exist. Please try again.
</p>
